/* -------- Global styles -------- */
body {
  background: #0F0F0F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* -------- Module containers -------- */

.module { color: #fff; }

  .module h1 {
    color: #EEE;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: solid 1px #444;
  }

  .module h2 {
    font-size: 14px;
    font-weight: bold;
  }

  /* Clearfix - Automatically clear after a module */
  .module:after, .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
