/* -------- Global styles -------- */
body {
  background: #555 url('/assets/img/carbon_fibre.png');
}

.container-fluid {
  padding: 0 10px;
}


/* -------- Module containers -------- */

.module {
  margin: 10px 4px;
  padding: 14px 14px 18px 14px;
  background: #232526 url('/assets/img/paper_1.png');
  border: 1px solid #333;
  -webkit-box-shadow: 1px 1px 1px 2px #222222;
  box-shadow: 1px 1px 1px 2px #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BBB;
}

  .module h1 {
    color: #EEE;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: solid 1px #444;
  }

  .module h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .module:after, .module:before {
    content: "";
    clear: all;
  }

  .module.small {

  }

  .module.large {

  }