/* -------- Global styles -------- */
body {
  background: #0F0F0F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding: 0.25%;
}

/* -------- Module containers -------- */

.module {
  float: left;
  margin: 0.25%;
  color: #fff;
}

  .module h1 {
    color: #EEE;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: solid 1px #444;
  }

  .module h2 {
    font-size: 14px;
    font-weight: bold;
  }

  /* Clearfix - Automatically clear after a module */
  .module:after, .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

/* -------- Module sizes -------- */

.full {
  width: 99.5%;
}

.tall {
  width: 24.5%;
  height: 518px;
}

.half {
  width: 49.5%;
  height: 518px;
}

.small {
  width: 24.6%;
  height: 256px;
}
