/* ---------- Weather panel styles ------------ */
#weather {
  width: 480px;
  min-height: 200px;
}

  #weather .condition ul {
    margin-top: 10px;
  }

  #weather .day {
    float: left;
    margin: 0 0;
    margin-right: 4px;
    padding: 0 0;
    padding-right: 4px;
    width: 47%;
  }

    #weather .day h1 {
      font-size: 16px;
      padding: 0 0;
      line-height: 24px;
      border-color: #444;
      color: #222;
    }

  #weather .forecast {
    margin: 0 auto;
    margin-top: 10px;
  }

  #weather ul {
    list-style: none;
    margin: 0 0;
  }

    #weather ul li {
      padding: 1px 0;
      text-shadow: 0 0 1px #444;
    }