/* --------- Ticket System styles -------------- */
#tickets {}

  #tickets h1 {
    border-bottom-color: #888;
  }

  #tickets .ticket-count-list {
    list-style: none;
    margin: 0 auto;
    font-size: 24px;
  }

    #tickets .ticket-count-list li {
      display: block;
      border-bottom: 1px solid #444;
      padding: 0 20px;
      padding-bottom: 10px;
    }

  #tickets img {
    width: 54px;
    height: 54px;
  }