/* --------- Ticket System styles -------------- */
#tickets {}

  #tickets h2 {
    text-align: center;
    padding: 0.3em 0;
    text-shadow: none;
    border-bottom:1px solid #151617;
  }

  #tickets ul.header {
    margin: 0;
    border-bottom:1px solid #151617;
    border-top:1px solid #303334;
    padding: 0.3em 1em;
  }

    #tickets ul.header li {
      list-style: none;
      float: left;
      text-shadow: none;
      text-align: center;
      width: 35%;
    }

      #tickets ul.header li:first-child {
        width: 50px;
        margin-right: 2em;
      }

  #tickets .user {
    padding: 0.6em 1em;
    border-bottom:1px solid #151617;
    border-top:1px solid #303334;
  }

    #tickets .user:first-child { border-top: 1px solid #303334; }
    #tickets .user:last-child { border-bottom: none; }

    #tickets .user span {
      display: block;
      float: left;
    }

      #tickets .user .avatar {
        width: 50px;
        margin-right: 2em;
      }

      #tickets .user .tickets, #tickets .user .comments {
        font-size: 2em;
        line-height: 38px;
        width: 35%;
        text-align: center;
      }


  #tickets .changed {
    -webkit-animation: changed-fade 60s ease-in 0 1;
    -moz-animation: changed-fade 60s ease-in 0 1;
    -animation: changed-fade 60s ease-in 0 1;
  }

/*
 * Ticket changed animation
 */
@-webkit-keyframes changed-fade {
  0% {
    color: #F00;
  }

  100% {
    color: #FFF;
  }
}

@-moz-keyframes changed-fade {
  0% {
    color: #F00;
  }

  100% {
    color: #FFF;
  }
}

@keyframes changed-fade {
  0% {
    color: #F00;
  }

  100% {
    color: inherit;
  }
}