/* -------- Global styles -------- */
body {
  background-image: url('/assets/img/carbon_fibre.png');
  background-repeat: repeat;
}

.container-fluid {
  padding: 0 10px;
}


/* -------- Module containers -------- */

.module {
  margin: 10px 4px;
  padding: 14px 14px 18px 14px;
  background-color: #FFF;
  background-image: url('/assets/img/paper_1.png');
  border-style: none;
  border-radius: 8px;
  -webkit-box-shadow: 4px 2px 6px 3px #222222;
  box-shadow: 4px 2px 6px 3px #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

  .module h1 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: solid 1px #000;
  }

  .module h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .module:after, .module:before {
    content: "";
    clear: all;
  }